*{
    margin: 0px;
    padding: 0px;
    box-shadow: 0px;
    /* background-color: aqua; */
}

.nav{
    width: 100%;
    /* margin: 5px; */
    background-color: rgb(34, 52, 107);
    /* background-color: rgb(163, 103, 13); */
    color: rgb(242, 232, 232);
    height: 70px;
    /* border-radius: 20px;  */
    font-family: cursive;
    padding-left: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);

    
}











